body {
  margin: 0;
  padding: 0;
  height: 100%; }

.intro .middle {
  display: none; }
  .intro .middle .mouse {
    display: none; }

.animation {
  height: 100vh;
  position: relative;
  background: lightblue; }
  .animation .paper-plane {
    position: absolute;
    height: 100px;
    top: 50%;
    left: 0%; }

.header {
  height: 80px;
  background: #f1f1f1;
  overflow: visible; }
  .header .logo {
    width: 80px;
    height: 80px;
    margin-left: 10px; }
  .header .navbar {
    padding: 0;
    position: sticky;
    top: 0; }
    .header .navbar .nav-icon {
      width: 30px;
      height: 20px;
      position: relative;
      margin: 0px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer; }
    .header .navbar .nav-icon span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
    .header .navbar .nav-icon span {
      background: #232222; }
    .header .navbar .nav-icon span:nth-child(1) {
      top: 0px; }
    .header .navbar .nav-icon span:nth-child(2), .header .navbar .nav-icon span:nth-child(3) {
      top: 10px; }
    .header .navbar .nav-icon span:nth-child(4) {
      top: 20px; }
    .header .navbar .nav-icon.open span:nth-child(1) {
      top: 11px;
      width: 0%;
      left: 50%; }
    .header .navbar .nav-icon.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .header .navbar .nav-icon.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .header .navbar .nav-icon.open span:nth-child(4) {
      top: 11px;
      width: 0%;
      left: 50%; }
    .header .navbar .navbar-toggler {
      margin-right: 10px; }
    .header .navbar .navbar-nav .nav-item {
      background: #f1f1f1; }
      .header .navbar .navbar-nav .nav-item a {
        color: #232222; }

.intro2 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .intro2 .flip-card {
    display: none; }
  .intro2 .intro-p {
    margin: 20px; }
    .intro2 .intro-p .p1 {
      font-size: 20px; }
    .intro2 .intro-p .p2 {
      font-size: 15px; }
  .intro2 .image img {
    width: 90vw; }

footer {
  background: #232222;
  color: #f1f1f1;
  padding-top: 50px;
  padding-bottom: 50px; }
  footer .socials {
    display: flex;
    flex-direction: column;
    align-content: center; }
    footer .socials p {
      margin: 0;
      text-align: center;
      font-size: 32px; }
    footer .socials .socials-container {
      margin: 10px 0;
      padding: 0; }
      footer .socials .socials-container ul {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none; }
        footer .socials .socials-container ul .socials-div {
          padding: 0;
          margin: 2vw;
          border-radius: 50%; }
          footer .socials .socials-container ul .socials-div a {
            color: #232222;
            text-decoration: none;
            align-items: center;
            display: flex;
            justify-content: center;
            background: #fff;
            border-radius: 50%;
            position: relative;
            height: 15vw;
            width: 15vw; }
            footer .socials .socials-container ul .socials-div a i {
              font-size: 9vw; }
          footer .socials .socials-container ul .socials-div a:hover {
            background: #d3d3d3; }

@media only screen and (min-device-width: 481px) {
  .intro .middle {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .intro .middle .mouse {
      display: block;
      width: 100px;
      height: 180px;
      border: 4px solid #333;
      border-radius: 60px; }
    .intro .middle .mouse::before {
      content: "";
      width: 25px;
      height: 25px;
      position: absolute;
      top: 30px;
      background: #333;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      opacity: 1;
      animation: mouse 2s infinite; }
  @keyframes mouse {
    from {
      opacity: 1;
      top: 30px; }
    to {
      opacity: 0;
      top: 150px; } }
  .intro2 .flip-card {
    display: block;
    background-color: transparent;
    width: 200px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* creates 3D effect*/ }
    .intro2 .flip-card .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d; }
      .intro2 .flip-card .flip-card-inner .flip-card-front, .intro2 .flip-card .flip-card-inner .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background: #fff; }
        .intro2 .flip-card .flip-card-inner .flip-card-front img, .intro2 .flip-card .flip-card-inner .flip-card-back img {
          height: 100%; }
      .intro2 .flip-card .flip-card-inner .flip-card-back {
        transform: rotateY(180deg); }
  .intro2 .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); }

  footer .socials .socials-container ul .socials-div a {
    height: 50px;
    width: 50px; }
    footer .socials .socials-container ul .socials-div a i {
      font-size: 30px; } }

/*# sourceMappingURL=style.css.map */
