$primary-dark: #232222;
$primary-light: #f1f1f1;
$active: #ddd;
$hover: #d3d3d3;

body {
    margin: 0;
    padding: 0;
    height: 100%;

}

.header {
    height: 80px;
    background: $primary-light;

    .logo {
        width: 80px;
        height: 80px;
        margin-left: 10px;
    }

    .navbar {
        padding: 0;
        display: flex;

        .nav-icon {
            width: 30px;
            height: 20px;
            position: relative;
            margin: 0px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
        }
            
        .nav-icon span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            }
            
        .nav-icon span {
            background: $primary-dark;
        }
            
        .nav-icon span:nth-child(1) {
            top: 0px;
        }
            
        .nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
            top: 10px;
        }
            
        .nav-icon span:nth-child(4) {
            top: 20px;
        }
            
        .nav-icon.open span:nth-child(1) {
            top: 11px;
            width: 0%;
            left: 50%;
        }
            
        .nav-icon.open span:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
            
        .nav-icon.open span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
            
        .nav-icon.open span:nth-child(4) {
            top: 11px;
            width: 0%;
            left: 50%;
        }

        .navbar-toggler {
            margin-right: 10px;
        }

        .navbar-nav {
            

            .nav-item {
                background: $primary-light;

                a {
                    color: $primary-dark;
                }
            }
        }
    }  
}

.intro {
    
    .flip-card {
        display: none;
    }

    .middle {
        display: none;

        .mouse {
            display: none;
        }
    }
    

}

footer {
    background: $primary-dark;
    color: $primary-light;
    padding-top: 50px;
    padding-bottom: 50px;
  
    .socials {
        display: flex;
        flex-direction: column;
        align-content: center;

        p {
            margin: 0;
            text-align: center;
            font-size: 32px;
        }
  
        .socials-container {
            margin: 10px 0;
            padding: 0;

            ul {
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;

                .socials-div {
                    padding: 0;
                    margin: 2vw;
                    border-radius: 50%;
        
                    a {
                        color: $primary-dark;
                        text-decoration: none;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        background: #fff;
                        border-radius: 50%;
                        position: relative;
                        height: 15vw;
                        width: 15vw;
        
                        i {
                            font-size: 9vw;
                        }
                    }
        
                    a:hover {
                        background: $hover;
                    }
                }
            }
            // }
        }
    }
}

@media only screen and (min-device-width: 481px) {

    .intro {

        .flip-card {
            display: block;
            background-color: transparent;
            width: 300px;
            height: 200px;
            border: 1px solid #f1f1f1;
            perspective: 1000px; /* creates 3D effect*/

            .flip-card-inner {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;

                .flip-card-front, .flip-card-back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    background: #fff;

                    img {
                        height: 100%;
                    }
                }

                .flip-card-front {
                    
                }

                .flip-card-back {
                    transform: rotateY(180deg);
                }
            }
        }
        
        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .middle {
            display: inline;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
    
            .mouse {
                display: block;
                width: 100px;
                height: 180px;
                border: 4px solid #333;
                border-radius: 60px;
            }
    
            .mouse::before {
                content: "";
                width: 25px;
                height: 25px;
                position: absolute;
                top: 30px;
                background: #333;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 50%;
                opacity: 1;
                animation: mouse 2s infinite;
            }
    
            @keyframes mouse {
                from {
                    opacity: 1;
                    top: 30px;
                }
                to {
                    opacity: 0;
                    top: 150px;
                }
            }
        }
    }

    footer {


        .socials {

            .socials-container {

                ul {

                    .socials-div {

                        a {
                            height: 50px;
                            width: 50px;

                            i {
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

}