

.topButton {
    font-size: 2em;
    color: inherit;
    width: 56px;
    height: 56px;
    border: 2px solid var(--button-background-color);
    box-sizing: border-box;
    

    p {
        margin: 0;
        font-size: 32px;
        transition: 0.2s ease-in-out;
        transform: translateY(2px);
    }
}

.topButton:hover {
    cursor: pointer;
    // box-shadow: 0px 0px 12px var(--shadow-grey);

    p {
        transform: translateY(-2px);
    }
        
}