

.homeButton {
    font-size: 2em;
    color: inherit;
    width: 56px;
    height: 56px;
    border: 2px solid var(--button-background-color);
    box-sizing: border-box;

    .icon {
        transition: 0.2s ease-in-out;
    }

    p {
        margin: 0;
        font-size: 30px;
    }
}

.homeButton:hover {
    cursor: pointer;
    
    .icon {
        transform: scale(0.9);
    }
}