.container {
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    right: 20px;
    gap: 10px;
    background: none;
}

@media screen and (min-device-width: 768px) { 

.container {

    bottom: 200px;
    right: 50px;
}
}