

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-title);
    background: #ffffff08;
    padding: 16px 24px;
    border-radius: var(--border-radius-primary);
    margin-top: 24px;
    position: relative; // for border
    width: 100%;
    max-width: 1200px;

    p {
        font-size: 24px;
        margin: 0;
        font-weight: lighter;
    }

    .name {
    }

    .links {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
}

.navbar::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--border-radius-primary);
    border: 1px solid transparent;
    background: linear-gradient(180deg, #ffffff08, #ffffff1a) border-box;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
}
  