@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,400&display=swap');

// Colors
$background-color-dark: #121212;
$background-color-light: #fff;
$color-dark: #000;
$color-light: #fff;
$color-grey: #DADADA;

$rogers-primary: #DA291C;
$machimachi-primary: #2E61AE;
$nyanjump-primary: #183861;
$fabcycle-primary: #113B2E;
$spark-primary: #4A1EB9;

// Typefaces
$typeface-primary: Poppins, sans-serif;

:root {
    --font-primary: Poppins, sans-serif;
    --shadow-grey: #A5A5A5;

    --rogers-primary: #DA291C;
    --machimachi-primary: #2E61AE;
    --nyanjump-primary: #183861;
    --fabcycle-primary: #113B2E;
    --spark-primary: #4A1EB9;
}


div[data-theme='light'] {
    --background-color: #F2F2F7; //F2F2F7
    --text-color: #000;
    --button-background-color: #FFF;
    // --button-border-color: none;
    --button-background-hover: #FBFBFF;
    --background-color-hover-start: none;
    --background-color-hover-end: none;
    --work-brightness: none;
    --link-hover: #409edd;
    // --background-color-hover-start: #0002;
    // --background-color-hover-end: #0000;

}

div[data-theme='dark'] {
    --background-color: #121212;
    --text-color: #FFF;
    --button-background-color: #1C1C1E;
    // --button-border-color: none;
    --button-background-hover: #2C2C2E;
    --background-color-hover-start: none;
    --background-color-hover-end: none;
    --work-brightness: 70%;
    --link-hover: #4529AB;
    // --background-color-hover-start: #fff2;
    // --background-color-hover-end: #fff0;
}

div {
    transition: 0.3s ease-in-out;
    font-family: $typeface-primary;
    background: var(--background-color);
    color: var(--text-color);

}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font: inherit;
    background: var(--button-background-color);
    border: none;
    color: inherit;
    border-radius: 16px;
}

button:hover {
    // background: linear-gradient(var(--background-color-hover-start), var(--background-color-hover-end)),
    //             linear-gradient(var(--button-background-color), var(--button-background-color));
    // box-shadow: 0 1px 5px var(--button-background-color);
    background: var(--button-background-hover);
}

body {
    margin: 0;
}



// Work 

.work:hover {
    .DA291C {
        color: $rogers-primary;
    }
    
    .\32 E61AE {
        color: $machimachi-primary;
    }
    
    .\31 83861 {
        color: $nyanjump-primary;
    }

    .\31 13B2E {
        color: $fabcycle-primary;
    }

    .\34 A1EB9 {
        color: $spark-primary;
    }
}

